@using Microsoft.AspNetCore.Mvc.Filters
@model ObjectStorage.MetaModel.Class
@{
    ViewData["Title"] = "Edit";
}

<h2>@Model.Name - Class Details</h2>
<h3>Properties</h3>
<ul>
    @foreach (var property in Model.Properties)
    {
        <li>
            @property.Type
            @property.Name
            <a href="/property/@property.Id/delete">Delete</a>
        </li>
    }
</ul>
Presentation property:
<form method="post" action="/class/@Model.Name/presentationProperty">
    <select name="PresentationProperty">
        <option></option>
        @foreach (var property in Model.Properties)
        {
            @if (Model.PresentationProperty != null && Model.PresentationProperty.Id.Equals(property.Id))
            {
                <option value="@property.Id" selected="selected">@property.Name</option>
            }
            else
            {
                <option value="@property.Id">@property.Name</option>
            }
        }
    </select>
    <input type="submit"/>
</form>
<br/>
<a href="/property/@Model.Name">New property</a>
<a href="/entity/@Model.Name/overview">View</a>
<br/>

<h3>Edit templates</h3>
<form method="post" action="/class/">
    <label>Overview template</label><textarea name="OverviewTemplate">@Model.OverviewTemplate</textarea>
    <label>Details template</label><textarea name="DetailsTemplate">@Model.DetailsTemplate</textarea>
    <input type="hidden" name="Name" value="@Model.Name">
    <input type="submit"/>
</form>