@model OverviewViewModel
@{
    ViewData["Title"] = "Overview";
}
<h3>@Model.Class.Name</h3>
<form method="post" action="/class/@Model.Class.Name/">
    <table border="1">
        <thead>
        @foreach (var property in Model.Class.Properties)
        {
            <th>@property.Name</th>
        }
        </thead>
        <tbody>
        @foreach (var element in Model.Elements)
        {
            <tr>
                @foreach (var prop in Model.Class.Properties)
                {
                    <td>@element[prop.Name]</td>
                }
            </tr>
        }
        <tr>
            @foreach (var property in Model.Class.Properties)
            {
                <tr>
                    @if (Model.Options.ContainsKey(property.Name))
                    {
                        <select name="@property.Name">
                            @foreach (var option in Model.Options[property.Name])
                            {
                                <option value="@option.Id">@option</option>
                            }
                        </select>
                    }
                    else
                    {
                        <input type="text" name="@property.Name" placeholder="@property.Type value for @property.Name"/>
                    }
                </tr>
            }
        </tr>
        </tbody>
    </table>
    <input type="submit"/>
</form>
@* <a href="/property/@Model.Name">New property</a> *@