<table border="1">
        <thead>
        {% for property in Model.Class.Properties -%}
        
            <th>{{ property.Name }}</th>
      
        {% endfor -%}
        </thead>
        <tbody>
    
        <form method="post" action="/class/{{Model.Class.Name}}/{{Model.Element["Id"]}}?redirectTo=/entity/{{Model.Class.Name}}/overview">
        <tr>
        {% for property in Model.Class.Properties -%}
                        <td>
                            {% if Model.Options[property.Name] -%}
                                <select name="{{property.Name}}">
                                    {% for option in Model.Options[property.Name] -%}
                                        {% if Model.Element[property.Name] == option.Value -%}
                                            <option value="{{option.Id}}" selected="selected">{{option.Value}}</option>
                                        {% else -%}
                                            <option value="{{option.Id}}">{{option.Value}}</option>
                                        {% endif -%}
                                    {% endfor -%}   
                                </select>
                            {% else -%}
                                <input type="text" name="{{property.Name}}" value="{{ Model.Element[property.Name] }}"/>
                            {% endif -%}
                        </td>
        {% endfor -%}
                        <td>
                        <input type="submit"/>
                        </td>
        <form>
        </tbody>
</table>